# Simulation working directories
sim_fp_unit/
sim_rk45_top/

# Vivado project files
*.jou
*.log
*.str
*.pb

# Python
__pycache__/
*.pyc
docs/final_report.md
docs/ECE1755 Final Report.docx
.vscode/settings.json
